<div *ngIf="!mute" class="beer-dots" [ngClass]="isActive() ? 'active' : ''">
  <div *ngFor="let i of meta.getBeersArray(cards)" class="beer-dot">
    <app-player-item-bottle [color]="user?.color"></app-player-item-bottle>
  </div>
</div>
<mat-card
  [style.background-color]="user?.color"
  [ngClass]="isDNF() ? 'dnf' : ''"
>
  <div class="crown" *ngIf="isLeading()" [@crownAnimation]>
    <svg
      xmlns:svg="http://www.w3.org/2000/svg"
      xmlns="http://www.w3.org/2000/svg"
      version="1.0"
      width="20"
      height="20"
      id="svg2"
      class="mhide"
    >
      <defs id="defs4" />
      <g transform="translate(-24.02083,4.5516112)" id="g3214">
        <path
          d="M 24.02083,-4.5516112 L 44.02083,-4.5516112 L 44.02083,15.448389 L 24.02083,15.448389 L 24.02083,-4.5516112 z"
          id="rect2441"
          style="
            opacity: 0;
            fill: #ffffff;
            fill-opacity: 1;
            stroke: none;
            stroke-opacity: 1;
          "
        />
        <g
          transform="matrix(0.5419179,0,0,0.5419179,-158.78904,-221.54052)"
          id="layer1"
        >
          <path
            d="M 355.79167,409.48718 L 364.12502,419.90385 L 372.45834,409.48718 L 370.37502,428.23718 L 341.20833,428.23718 L 339.125,409.48718 L 347.45833,419.90385 L 355.79167,409.48718 z"
            id="path2387"
            style="
              fill: #ffff00;
              fill-rule: evenodd;
              stroke: #000000;
              stroke-width: 1.2500006;
              stroke-linecap: butt;
              stroke-linejoin: miter;
              stroke-miterlimit: 4;
              stroke-dasharray: none;
              stroke-opacity: 1;
            "
          />
        </g>
      </g>
    </svg>
  </div>
  <div class="dnf-button" (click)="toggleDNF()">DNF</div>
  <h3>{{ user?.username }}</h3>
  <div class="stats-wrap">
    <div>
      <p>Total sips</p>
      <p>Total time</p>
      <p>Max sips</p>
      <p>Min sips</p>
    </div>
    <div class="right-flex">
      <p>{{ meta.getTotalSips(cards) }}<sub>14</sub></p>
      <p>{{ meta.getTotalTime(user) | date: "H:mm:ss":"+0000" }}</p>
      <p>{{ meta.getTheoraticalMin(user) }}<sub>14</sub></p>
      <p>{{ meta.getTheoraticalMax(user) }}<sub>14</sub></p>
    </div>
  </div>
  <div
    class="indicator"
    [style.height.%]="indicatorHeight"
    [style.transition]="indicatorTransition"
  ></div>
</mat-card>
