:host {
  .container {
    position: fixed;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 999999;

    p {
      font-size: 6em;
      letter-spacing: 1px;
      font-weight: bold;
      color: white;
      text-transform: uppercase;
      -webkit-text-stroke: 2px #000;
      text-shadow: 0px 0px 20px #000;
      font-family: 'Caveat Brush', cursive;
    }
  }
}
