:host {
  background-color: black;
  background-image: url("../../../assets/cards.png");
  background-size: 200px;
  background-position: center;
  height: 100%;

  #overlay {
    height: 100%;
    width: 100%;

    background-color: rgba(0, 0, 0, 0.9);

    display: flex;
    align-items: center;
    justify-content: center;
  }
}
