:host {
  mat-divider {
    position: inherit;
    margin: 10px 0px;
  }
  /* TODO(mdc-migration): The following rule targets internal classes of slider that may no longer apply for the MDC version. */
  mat-slider {
    width: 100%;
    margin-bottom: -20px;
  }

  button {
    width: 100%;
    padding: 4px 0px;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 5px;
  }

  #muteButton {
    position: fixed;
    right: 1em;
    bottom: 1em;
    width: initial;
    padding-right: inherit;
    padding-left: inherit;
  }

  .center {
    text-align: center;

    * {
      margin: 0px 32px;
    }
  }
}

@media only screen and (max-width: 600px) {
  :host {
    position: absolute;
    top: 0px;
    bottom: 0px;
    height: 100%;
    width: 100%;
    display: flex;

    & > mat-card {
      border-radius: 0px;
      flex-grow: 1;
      overflow-x: auto;
    }

    #muteButton {
      display: none;
    }
  }
}

::ng-deep {
  /* TODO(mdc-migration): The following rule targets internal classes of slider that may no longer apply for the MDC version. */
  .mat-slider-thumb-label {
    transform: rotate(45deg) !important;
    border-radius: 50% 50% 0 !important;
  }
  /* TODO(mdc-migration): The following rule targets internal classes of slider that may no longer apply for the MDC version. */
  .mat-slider-thumb {
    transform: scale(0) !important;
  }
  /* TODO(mdc-migration): The following rule targets internal classes of slider that may no longer apply for the MDC version. */
  .mat-slider-horizontal .mat-slider-ticks {
    opacity: 1 !important;
  }
  /* TODO(mdc-migration): The following rule targets internal classes of slider that may no longer apply for the MDC version. */
  .mat-slider-thumb-label-text {
    opacity: 1 !important;
  }
}
