:host {
  display: flex;

  mat-form-field {
    margin: 0 10px;

    padding-top: 10px;
    margin-bottom: -10px;
  }

  .login-dicator {
    height: 64px;
    width: 5px;
  }

  .login-image {
    height: 64px;
    width: 38px;

    background-image: url("../../../assets/user.jpg");
    background-position: top;
    background-size: cover;
  }
}

@media only screen and (max-width: 600px) {
  :host {
    justify-content: space-between;

    overflow-x: auto;

    .login-image {
      display: none;
    }

    mat-form-field {
      margin: 0px;
      width: 48%;
    }
  }
}
