:host {
  height: 100%;
  width: 100%;

  display: grid;

  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 70px auto 110px 30px 275px;

  align-items: center;
  justify-content: center;

  grid-template-areas:
    "header  header  header"
    "deck    table   chart"
    "deck    chugs   chart"
    ".       .       .    "
    "players players players";

  app-info-bar {
    grid-area: header;
  }

  app-chugs {
    grid-area: chugs;
    justify-items: center;
  }

  app-chart {
    grid-area: chart;
  }

  app-card-table {
    grid-area: table;
  }

  app-card-deck {
    grid-area: deck;
  }

  app-players {
    grid-area: players;
  }

  app-mobile-controls {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
:host {
    grid-template-columns: 1fr;
    grid-template-rows: 70px auto 200px;

    grid-template-areas:
    "header "
    "table"
    "mobile";
  }

  app-chugs {
    display: none;
  }

  app-chart {
    display: none;
  }

  app-card-table {
    grid-area: table;
  }

  app-card-deck {
    display: none;
  }

  app-players {
    display: none;
  }

  app-mobile-controls {
    display: block !important;
    grid-area: mobile;
  }
}
