:host {
  height: 100%;
  width: 100%;

  display: grid;

  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 70px auto 240px;

  align-items: center;
  justify-content: center;

  grid-template-areas:
    "header  header  header"
    "deck    table   chart"
    "players players players";

  app-info-bar {
    grid-area: header;
  }

  app-chart {
    grid-area: chart;

  }

  app-card-table {
    grid-area: table;
  }

  app-card-deck {
    grid-area: deck;
  }

  app-players {
    grid-area: players;
  }
}
