:host {
  display: flex;
  justify-content: center;
  flex-direction: column;

  p {
    font-weight: 200;
    text-align: center;

    &.title {
      font-size: 3em;
      margin: 12px 0 12px;
      text-transform: uppercase;
    }

    &.time {
      font-size: 24px;
      margin-bottom: 48px
    }
  }

  button {
    font-size: 18px;
    padding: 10px;
    text-transform: uppercase;
  }

  textarea {
    height: 150px;
    resize: none;
    overflow-x:hidden;
    outline: none;
    border: none;
  }
}
