:host {

  text-align: center;

  table {
    border-collapse: collapse;
    width: 100%;
  }

  td, th {
    border: none;
    text-align: center;
    padding: 4px;
    max-width: 70px;
  }

  td {
    font-family: AU_Passata;
  }

  th {
    font-weight: bold;
  }

  tr {
    border-bottom: 1px solid #eee;

    &:nth-child(even) {
      background-color: #fcfcfc;
    }
  }

  .active {
    background-color: #e0e6e9;
  }
}

