:host {
  text-align: center;
  margin: 10px;
  min-width: 110px;

  p,
  mat-card {
    max-height: 110px;
    padding: 4px;
    margin: 0px;
  }

  .name {
    font-weight: bold;
    max-width: 150px;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .symbol {
    font-size: 38px;
    font-family: Arial, Helvetica, sans-serif;
    height: 1.1em;
  }
}

@media only screen and (max-width: 600px) {
  :host {
    /* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
    mat-card {
      padding-top: 24px;
    }
  }
}
