:host {
  display: flex;
  padding: 16px;

  button {
    flex-grow: 1;
    width: 100%;
    font-size: 24px;
    padding: 8px;
    text-transform: uppercase;
  }

  p,
  h5 {
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-size: 16px;
  }

  p {
    margin-bottom: 18px;
  }

  .row {
    display: flex;
    justify-content: space-between;

    button {
      padding: 0px;
      margin-top: 10px;
      background-color: #2c3e50;
      font-size: 18px;

      &:not(:last-child) {
        margin-right: 5px;
      }

      &:last-child {
        margin-left: 5px;
      }
    }
  }
}
