:host {
  display: flex;
  justify-content: center;
  flex-direction: column;

  p {
    text-align: center;
    font-size: 24px;
    font-weight: 200;
    margin: 42px 0px;
  }

  .title {
    font-size: 32px;
  }

  .time {
    font-size: 76px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .best {
    color: #666;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  button {
    margin-top: 50px;
    font-size: 36px;
    padding: 10px;
    text-transform: uppercase;
  }
}

@media only screen and (max-width: 600px) {
  :host {
    .time {
      font-size: 56px;
    }
  }
}
