<mat-card>
  <div class="item mhide hash">
    <div>
      <a
        href="https://github.com/beeracademy/game/commit/{{ GIT_COMMIT_HASH }}"
        >{{ GIT_COMMIT_HASH }}</a
      >
    </div>
  </div>
  <div class="item mhide"></div>
  <div class="item">Round {{ gameService.getRound() }}</div>
  <div class="item">
    <p class="game-over" *ngIf="gameService.isGameDone()">GAME OVER</p>
    <p class="turn-duration" *ngIf="!gameService.isGameDone()">
      {{ turnDuration | date: "HH:mm:ss":"+0000" }}
    </p>
    <p class="game-duration">{{ duration | date: "HH:mm:ss":"+0000" }}</p>
  </div>
  <div class="item">
    {{ gameService.getNumberOfCardsLeft() }} card{{
      gameService.getNumberOfCardsLeft() === 1 ? "" : "s"
    }}
    left
  </div>
  <div class="item mhide"></div>
  <div class="item controls">
    <div (click)="abort()" *ngIf="!gameService.isGameDone()">
      Abort <i class="material-icons">exit_to_app</i>
    </div>
    <div (click)="goToGame()" *ngIf="gameService.isGameDone()">
      Go to game <i class="material-icons">play_arrow</i>
    </div>
  </div>
  <div></div>
</mat-card>
