<mat-card>
  <div class="item mhide"></div>
  <div class="item mhide"></div>
  <div class="item">Round {{ gameService.getRound() }}</div>
  <div class="item">
    <p class="game-over" *ngIf="gameService.getNumberOfCardsLeft() === 0">GAME OVER</p>
    <p class="round-duration" *ngIf="gameService.getNumberOfCardsLeft() !== 0">{{ roundDuration | date: "HH:mm:ss":"+0000" }}</p>
    <p class="game-duration">{{ duration | date: "HH:mm:ss":"+0000" }}</p>
  </div>
  <div class="item">{{ gameService.getNumberOfCardsLeft() }} card{{ gameService.getNumberOfCardsLeft() === 1 ? '' : 's' }} left</div>
  <div class="item mhide"></div>
  <div class="item controls">
    <div (click)="abort()" *ngIf="gameService.getNumberOfCardsLeft() !== 0">
      Abort <i class="material-icons">exit_to_app</i>
    </div>
    <div (click)="goToGame()" *ngIf="gameService.getNumberOfCardsLeft() === 0">
      Go to game <i class="material-icons">play_arrow</i>
    </div>
  </div>
  <div>

  </div>
</mat-card>

